# Telegram Bot Library
python-telegram-bot==20.0          # גרסה יציבה בלי RedisPersistence

# Google Generative AI (for Gemini)
google-generativeai

# Web server for Keep-Alive
Flask

# Environment variables
python-dotenv

# Vector Search Libraries (if you use them)
# sentence-transformers
# faiss-cpu
# numpy

pymongo
